:root {
    --light: #ffffff;
    --medium: #b8b8b8;
    --dark: #303030;
    --night: #121212;
    --blue: #3e72ed;
    --light-blue: #5f9ce7;

    /*school colors*/
    --ohs-yellow: #eaaa01;
    --ohs-blue: #00008b;
}

html {
  scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--light);
    font-family: "Open Sans", sans-serif;
    color: var(--dark);
}

h1 {
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 5px;
  padding: none;
  text-align: center;
}

.headertext {
  font-size: 23px;
  font-weight: bold;
  text-align: center;
}

.normaltext {
  font-size: 17px;
}

.ohsdivider {
  position: relative;
  display: block;
  border-left: 100px solid var(--ohs-yellow);
  border-right: 100px solid var(--ohs-blue);
  height: 6px;
  width: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 10px;
  margin-bottom: 10px;
}

/*scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #404040;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/*end scrollbar*/

.navbar {
  overflow: hidden;
  background: var(--light);
  padding: 20px;
  padding-bottom: 10px;
  padding-top: 10px !important;
  transition: 0.3s;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  color: var(--dark);
  height: 52px;
}

.navbarimg {
  height: 50px;
  width: 37px;
  border-radius: 5%;
  display: inline-block;
}

.navbarname {
  display: inline-block;
  vertical-align: middle;
  margin-top: -45px;
  margin-left: 10px;
  font-size: 25px;
}

.navbarright {
  position: relative;
  display: inline-block;
  float: right;
  margin-right: 20px;
}

.navbutton {
  display: inline-block;
  border: none;
  padding: 15px;
  margin-right: 10px;
  text-decoration: none;
  background: none;
  color: var(--dark);
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  transition: 0.2s;
}

.navbuttonlogin {
  display: inline-block;
  border: none;
  padding: 10px;
  padding-right: 15px !important;
  padding-left: 15px !important;
  margin-right: 10px;
  text-decoration: none;
  background: var(--light-blue);
  color: var(--light);
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  transition: 0.2s;
  border-radius: 10px;
}

.navbuttonlogin:hover {
  background: var(--ohs-blue);
}

.navbutton:hover {
  padding-bottom: 11px;
  border-bottom: 4px solid var(--light-blue);
}

.navpfp {
  position: relative;
  margin-bottom: -13px;
  margin-right: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.topbackground {
  position: absolute;
  height: calc(100% - 80px);
  height: -webkit-calc(100% - 80px);
  height: -moz-calc(100% - 80px);
  left: 0;
  width: 100%;
  margin: 0px;
  margin-top: 60px !important;
  background: var(--light);
  background-image: url("drugdealeralex.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bodydiv {
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
  background: var(--light);
  margin-top: 70vh;
  min-height: 500px;
}

.bodydiv:after {
  background: inherit;
  top: 0;
  content: "";
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(6deg);
  transform-origin: 100%;
  z-index: -1;
}

.mainarea {
  position: absolute;
  display: block;
  margin-top: -150px;
  left: 50%;
  width: 80%;
  transform: translate(-50%, 0);
}

.headerbubble {
  border-radius: 20px;
  width: 100%;
  padding: 20px;
  background: var(--light);
  box-shadow: 0px 0px 14px 4px rgba(0,0,0,0.49);
  margin-left: -20px; /*compensate for padding, weird css thing*/
}

.smalltext {
  font-size: 15px;
  color: var(--medium);
}

.buttonabout {
  text-align: center;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-top: 3px solid var(--ohs-blue);
  border-left: 3px solid var(--ohs-blue);
  border-bottom: 3px solid var(--ohs-yellow);
  border-right: 3px solid var(--ohs-yellow);
  padding: 15px;
  padding-top: 10px !important;
  width: 25px;
  height: 30px;
  text-decoration: none;
  background: none;
  color: var(--dark);
  font-size: 23px;
  cursor: pointer;
  transition: 0.7s;
  border-radius: 50%;
}

.buttonabout:hover {
  transform: rotate(360deg);
  border-top: 3px solid var(--ohs-yellow);
  border-left: 3px solid var(--ohs-yellow);
  border-bottom: 3px solid var(--ohs-blue);
  border-right: 3px solid var(--ohs-blue);
}

.card-area {
  padding: 20px;
  text-align: center;
}

.card {
  display: inline-block;
  background: var(--bobux-dark);
  padding: 20px;
  -webkit-box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.5);
  width: 25%;
  margin: 10px;
  text-align: left !important;
  min-width: 240px;
  transition: 0.2s;
}

.card:hover {
  -webkit-box-shadow: 0px 0px 18px 2px rgba(0,0,0,0.66);
  box-shadow: 0px 0px 18px 2px rgba(0,0,0,0.66);
}

.card-pfp {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
}

.card-title {
  display: inline-block;
  vertical-align: middle;
  margin-top: -40px;
  margin-left: 10px;
  font-size: 18px;
  font-weight: bold;
}

.card-description {
  overflow-y: auto;
}

.role-badge {
  background-color: #555;
  color: var(--light);
  padding: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
  display: inline-block;
  position: relative;
  font-size: 13px;
  border-radius: 10px;
  margin-right: 4px;
}

.medium-h {
  height: 150px;
}

.wide-h {
  width: 100% !important;
}

.scores-table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.scores-table td, .scores-table th {
  border: 1px solid var(--medium);
  padding: 5px;
  font-size: 17px;
}

.scores-table th {
  color: var(--light);
  background: var(--light-blue);
}

.scores-table tr:nth-child(odd) {
  background: rgb(240, 240, 240);
}

.scores-table tr:hover {
  background: #dbdbdb;
}

.bottommenu {
  background: var(--blue);
  color: var(--light);
  padding: 40px;
  margin-top: 50px;
  font-size: 17px;
}